<a href="https://colab.research.google.com/github/schenita/info5731/blob/master/INFO_5731_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Project using Waze Data

In [0]:
import pickle
import numpy as np 
import pandas as pd

In [2]:
dataset = pd.read_pickle('time_converted_df.pickle')
dataset.head()

,EVENT_ID,EVENT_STATE,EVENT_CLASS,EVENT_TYPE,FACILITY_NAME,DIRECTION,ARTICLE_CODE,FROM_LOC_POINT,TO_LOC_POINT,CREATE_TIME,...,LAT,LON,TO_LAT,TO_LON,START_DATE,END_DATE,INCIDENT_IMPACT,UPDATE_NUMBER,WAZE_EVENT_ID,time
0,'2018110100002600005075',closed,incident,minor accident,I-30 E,Eastbound,NaN,NaN,NaN,11/1/2018 12:00:26 AM,...,32.791163,-96.749703,0,0,NaN,NaN,NaN,0,NaN,2018-11-01 00:00:26
1,'2018110100181100005075',closed,incident,other,I-35E S,Southbound,NaN,NaN,NaN,11/1/2018 12:18:11 AM,...,32.559553,-96.822538,0,0,NaN,NaN,NaN,0,NaN,2018-11-01 00:18:11
2,'2018110100210000005075',closed,incident,road closed,Warren Pkwy,Northbound,NaN,NaN,NaN,11/1/2018 12:21:00 AM,...,33.109015,-96.802718,0,0,NaN,NaN,NaN,1,NaN,2018-11-01 00:21:00
3,'2018110100222500005075',closed,incident,stopped car on the shoulder,I-820 E,Eastbound,NaN,NaN,NaN,11/1/2018 12:22:25 AM,...,32.839193,-97.294523,0,0,NaN,NaN,NaN,0,NaN,2018-11-01 00:22:25
4,'2018110100234000005075',closed,incident,traffic jam,Warren Pkwy,NaN,NaN,NaN,Ohio Dr,11/1/2018 12:23:40 AM,...,33.109015,-96.802718,33.109003,-96.80129,NaN,NaN,NaN,0,NaN,2018-11-01 00:23:40

In [3]:
dataset.describe()

,EVENT_ID,EVENT_STATE,EVENT_CLASS,EVENT_TYPE,FACILITY_NAME,DIRECTION,ARTICLE_CODE,FROM_LOC_POINT,TO_LOC_POINT,CREATE_TIME,...,LAT,LON,TO_LAT,TO_LON,START_DATE,END_DATE,INCIDENT_IMPACT,UPDATE_NUMBER,WAZE_EVENT_ID,time
count,3077490,3077490,3077490,3077490,3057785,1393177,60158,60158,1512668,3077490,...,3.077480e+06,3.077480e+06,3077480.0,3077480.0,0.0,0.0,0.0,3077480.0,44986,3077490
unique,2772272,2,1,32,32511,4,2,438,29436,1452206,...,7.905490e+05,9.166480e+05,174673.0,187277.0,0.0,0.0,0.0,627.0,40796,1452206
top,'2018120417142200205075',closed,incident,traffic jam,I-30 W,Northbound,between,Rowlett,Frontage Rd,1/15/2019 8:09:59 AM,...,3.292085e+01,-9.676523e+01,0.0,0.0,NaN,NaN,NaN,0.0,050e1582-fa53-37b3-870b-62bb41326a08,2019-01-15 08:09:59
freq,2,3077477,3077490,1651222,59396,355635,60033,2371,49921,78,...,2.968000e+03,2.962000e+03,855056.0,855056.0,NaN,NaN,NaN,756589.0,2,78
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 00:00:26
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-31 23:58:52

In [4]:
dataset.describe(include='all')

,EVENT_ID,EVENT_STATE,EVENT_CLASS,EVENT_TYPE,FACILITY_NAME,DIRECTION,ARTICLE_CODE,FROM_LOC_POINT,TO_LOC_POINT,CREATE_TIME,...,LAT,LON,TO_LAT,TO_LON,START_DATE,END_DATE,INCIDENT_IMPACT,UPDATE_NUMBER,WAZE_EVENT_ID,time
count,3077490,3077490,3077490,3077490,3057785,1393177,60158,60158,1512668,3077490,...,3.077480e+06,3.077480e+06,3077480.0,3077480.0,0.0,0.0,0.0,3077480.0,44986,3077490
unique,2772272,2,1,32,32511,4,2,438,29436,1452206,...,7.905490e+05,9.166480e+05,174673.0,187277.0,0.0,0.0,0.0,627.0,40796,1452206
top,'2018120417142200205075',closed,incident,traffic jam,I-30 W,Northbound,between,Rowlett,Frontage Rd,1/15/2019 8:09:59 AM,...,3.292085e+01,-9.676523e+01,0.0,0.0,NaN,NaN,NaN,0.0,050e1582-fa53-37b3-870b-62bb41326a08,2019-01-15 08:09:59
freq,2,3077477,3077490,1651222,59396,355635,60033,2371,49921,78,...,2.968000e+03,2.962000e+03,855056.0,855056.0,NaN,NaN,NaN,756589.0,2,78
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 00:00:26
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-31 23:58:52

In [5]:
print(dataset.shape)

(3077490, 26)

In [6]:
print(dataset.nunique())

EVENT_ID             2772272
EVENT_STATE                2
EVENT_CLASS                1
EVENT_TYPE                32
FACILITY_NAME          32511
DIRECTION                  4
ARTICLE_CODE               2
FROM_LOC_POINT           438
TO_LOC_POINT           29436
CREATE_TIME          1452206
LAST_UPDATE           241997
CLOSE_TIME            215744
EVENT_DESCRIPTION     905387
CITY                     307
COUNTY                    31
STATE                      3
LAT                   790549
LON                   916648
TO_LAT                174673
TO_LON                187277
START_DATE                 0
END_DATE                   0
INCIDENT_IMPACT            0
UPDATE_NUMBER            627
WAZE_EVENT_ID          40796
time                 1452206
dtype: int64

In [15]:
dataset.tail()

,EVENT_ID,EVENT_STATE,EVENT_CLASS,EVENT_TYPE,FACILITY_NAME,DIRECTION,ARTICLE_CODE,FROM_LOC_POINT,TO_LOC_POINT,CREATE_TIME,...,LAT,LON,TO_LAT,TO_LON,START_DATE,END_DATE,INCIDENT_IMPACT,UPDATE_NUMBER,WAZE_EVENT_ID,time
3077485,'2019013123572800105075',closed,incident,traffic jam,Bloomdale Rd,NaN,NaN,NaN,N Custer Rd,1/31/2019 11:57:28 PM,...,33.247194,-96.697439,33.247598,-96.732512,NaN,NaN,NaN,0,NaN,2019-01-31 23:57:28
3077486,'2019013123572900005075',closed,incident,traffic jam,John West Rd,NaN,NaN,NaN,Dilido Rd,1/31/2019 11:57:29 PM,...,32.807114,-96.685543,32.807104,-96.688887,NaN,NaN,NaN,0,NaN,2019-01-31 23:57:29
3077487,'2019013123575400005075',closed,incident,stopped car on the shoulder,I-35E S,Southbound,NaN,NaN,NaN,1/31/2019 11:57:54 PM,...,32.573916,-96.822541,0,0,NaN,NaN,NaN,0,NaN,2019-01-31 23:57:54
3077488,'2019013123583400005075',closed,incident,traffic jam,Coit Rd,NaN,NaN,NaN,Lyndon B Johnson Fwy W,1/31/2019 11:58:34 PM,...,32.923194,-96.769045,32.924884,-96.769021,NaN,NaN,NaN,0,NaN,2019-01-31 23:58:34
3077489,'2019013123585200005075',closed,incident,stopped car,I-635 W,Westbound,NaN,NaN,NaN,1/31/2019 11:58:52 PM,...,32.924665,-96.783667,0,0,NaN,NaN,NaN,0,NaN,2019-01-31 23:58:52